<style type="text/css">
    #editor {
        position: relative;
        width: 500px;
        height: 400px;
        border: solid 1px #000;
    }
</style>

    <script>
    window.onload = function() {
        var editor = ace.edit("editor");
        var RubyMode = require("ace/mode/ruby").Mode;
        editor.getSession().setMode(new RubyMode());
        editor.setTheme("ace/theme/eclipse");
    };
    </script>


<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="editor">here is some text</div>
  <div class="field">
    <%= f.label :script %><br />
    <%= f.text_area :script %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
